/node_modules
/public/hot
/public/**/*.map
/public/storage
/storage/*.key
/vendor
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.editorconfig
_ide_helper*
/.eslintrc.js
/yarn.lock
